body {
	font-family: Arial;
	font-size: 12pt;
	padding-left: 15%;
	padding-right: 15%; 
	margin: auto;
}

header {
	font-size: 16pt;
	text-align: center;
}

footer {
	font-size: 8pt;
	text-align: center;
	margin-top: 5%;
}

h2 {
	font-size: 14pt;
	margin-top: 5%;
}

h3 {
	font-size: 11pt;
	text-align: center;
}

.mainsection1 {
	color: black;
	font-size: 11pt;
	padding-right: 35%
}

.mainsection2 {
	color: black;
	font-size: 11pt;
}

#mainheading {
	color: #0B0B3B;
}

#headerimage {
	width: 100%;
}

#portrait {
	width: 200px;
	position: absolute	;
	right: 20%;
	top: 65%;
}

iframe {
	margin-top: 5%;
	margin-left: 25%;
}

input {
	text-align: right;
}

.MeasureHead {
	font-weight: bold; 
	padding-top: 15px;
	padding-bottom: 5px;
}

table {
	margin-top: 10px;
}

form {
	margin-top: 30px;
}